// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.sidemenu a {
    color: #1b1e21;
}

.sidemenu .active {
    color: #1b4b72;
    font-weight: bold;
}

.full_modal-dialog {
    width: 98% !important;
    height: 92% !important;
    min-width: 98% !important;
    min-height: 92% !important;
    max-width: 98% !important;
    max-height: 92% !important;
    padding: 0 !important;
}

.full_modal-content {
    height: 99% !important;
    min-height: 99% !important;
    max-height: 99% !important;
}

.swal2-actions button {
    margin-left: 5px;
    margin-right: 5px;
}

.modal {
    z-index: 1090;
}


div.growlUI h1, div.growlUI h2 {
    color: white; padding: 5px 5px 5px 25px; text-align: left
}

div.growlUI h1 {
    font-size: 18px !important;
}

div.growlUI h2 {
    font-size: 14px !important;
}

div.growlUI {
    opacity: 0.3;
}
.cartImage {
    max-height: 48px !important;
}